:root {
    --pure-green: #008037 !important;
    --semigreen: #008057 !important;
    --turquoise: #008077 !important;
    --blueish: #006980 !important;
    --blue: #004980 !important;
    --pure-blue: #002980 !important;
    --grey: #F5F5F5 !important;
    --light: #FFFFFF !important;
}

body {
    font-family: 'Montserrat', sans-serif;
};

.navbar {
    min-height: 90px;
}

.navbar .btn {
    padding: .625rem 1.25rem !important;
}

.btn {
    padding: 1rem;
}

.text-primary {
    color: var(--pure-green) !important;
}

.bg-primary {
    background-color: var(--pure-green) !important;
}

.btn-primary {
    background-color: var(--pure-green);
    border-color: var(--pure-green);
}

.btn-primary:hover {
    background-color: var(--pure-green);
    border-color: var(--pure-green);
}

.content {
    max-width: 500px;
}

section {
    height: 900px;
}

@media (max-width: 992px) {
    .navbar {
        position: relative !important;
    }
    section {
        height: unset;
    }
    
    .call-to-action img {
        max-width: 100%;
    }
    
    .w-75 {
        width: 100% !important;
    }
}

.navbar-toggler:focus {
    box-shadow: none;
}

.step {
    position: relative;
    display: flex;
    justify-content: center;
}

.step::after {
    content: '';
    border-right: 1px solid var(--semigreen);
    height: 60px;
    position: absolute;
    top: 34px;
    opacity: .2;
}

.bg-light {
    background-color: var(--grey) !important; 
}

.call-to-action {
    border-radius: 50px;
}

.call-to-action img {
    max-width: 280px;
    max-height: 450px;
}

.cta-form {
    max-width: 480px;
}

.cta-form .form-control {
    min-height: 82px !important;
}

.cta-form .btn {
    top: 12px;
    right: 12px;
}

.btn-light {
    background-color: var(--light);
    color: var(--pure-green);
}